USE [master]
GO
/****** Object:  Database [EquiposDB]    Script Date: 26/10/2016 13:54:31 ******/
CREATE DATABASE [EquiposDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EquiposDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EquiposDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EquiposDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EquiposDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EquiposDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EquiposDB]
GO
/****** Object:  Table [dbo].[Dispositivos]    Script Date: 26/10/2016 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispositivos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[TipoDispositivo] [nvarchar](20) NOT NULL,
	[EstadoInventario] [nvarchar](10) NOT NULL,
	[Estado] [nvarchar](15) NOT NULL,
	[FechaIngreso] [date] NOT NULL,
 CONSTRAINT [PK_Dispositivos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 26/10/2016 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](11) NOT NULL,
	[Carrera] [nvarchar](50) NOT NULL,
	[Sancion] [nvarchar](2) NOT NULL,
	[FechaSancion] [date] NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 26/10/2016 13:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FechaPrestamos] [date] NOT NULL,
	[CodEstudiante] [int] NOT NULL,
	[CodDispositivo] [int] NOT NULL,
	[HoraPrestamos] [time](7) NOT NULL,
	[HoraEntrega] [time](7) NOT NULL,
	[Estado] [nvarchar](10) NULL,
 CONSTRAINT [PK_Prestamos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Dispositivos] FOREIGN KEY([CodDispositivo])
REFERENCES [dbo].[Dispositivos] ([ID])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Dispositivos]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Estudiantes] FOREIGN KEY([CodEstudiante])
REFERENCES [dbo].[Estudiantes] ([ID])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Estudiantes]
GO
USE [master]
GO
